<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{% assets %}/fdroid-logo-text.svg" alt="{{ site.header-title }}" />
  </a>

  <nav class="site-nav">
    {% for nav-item in site.data.navigation %}
      {% if nav-item.key %}
        {% assign title = site.data.strings.navigation[nav-item.key] %}
        {% if nav-item.external %}
          <a class="page-link" href="{{ nav-item.url }}">{{ title }}</a>
        {% else %}
          <a class="page-link {% if page.url contains nav-item.url %} current {% endif %}" href="{{ nav-item.url | prepend: site.baseurl }}">{{ title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

</header>
